@tailwind base;
@tailwind components;
@tailwind utilities;



/* Remove up down arrow in type="number" input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}